<div class="github_info">
  <h1>Github Dashboard </h1>

  <% if current_user %>
  Hello, <%= current_user.nickname %>! - <%= link_to "Logout", logout_path, method: :delete %>
  <% else %>
  <%= link_to "Sign in with Github", "/auth/github"%>
  <% end %>

  <div class="user_repos">
    <h4>User Repos for <%= current_user.nickname %> - Total: <%=  @user_repo_presenter.display_user_repo_count %></h4>

    <div class='user_repo_list'>
      <% @user_repo_presenter.display_user_repos.each do |repo| %>
        <li><%= @user_repo_presenter.display_titlelized_name(repo.name) %> - <%= @user_repo_presenter.display_updated_date(repo) %></li>
      <% end %>
    </div>
  </div>

  <div class="user_stars">
    <h4>Starred Repos for <%= current_user.nickname %> - Total: <%= @star_repo_presenter.display_user_starred_repo_count %></h4>

    <div class='user_star_list'>
      <% @star_repo_presenter.display_user_starred_repos.each do |starred_repo| %>
        <li><%= starred_repo.name %> - Amount of watchers: <%= starred_repo.stargazers_count %></li>
      <% end %>
    </div>
  </div>
</div>
